<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="libs/winstore-jscompat.js"></script>


    <!--Angular Libs-->
    <script src="./libs/angular.min.js"></script>
    <script src="./libs/angular-ui-router.js"></script>
    <script src="./libs/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <!--JS LIBS-->
    <script src="libs/hummer.js"></script>
    <script src="libs/ng-hamburger-helper.js"></script>

    <script src="libs/jquery-1.11.3.js"></script>
    <link href="libs/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="libs/ui-bootstrap-tpls-0.14.3.min.js"></script>


    <script src="libs/angular-translate.js"></script>
    <script src="./js/angular/app.js"></script>


    <!--Angualr controllers-->
    <script src="./js/angular/controllers/appController.js"></script>
    <script src="./js/angular/controllers/mainPageController.js"></script>
    <script src="./js/angular/controllers/settingsController.js"></script>

    <!--Services-->
    <script src="js/angular/services/storageService.js"></script>





    <!-- CSS -->
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/ng-hamburger-helper.css" rel="stylesheet" />
</head>

<body ng-app="my-app">

    <div ng-controller="AppController as appCtrl">

        <!--<div class="menu-container">
            <button type="button" ng-click="arrow = !arrow ; appCtrl.GoToSettings();">
                <a ng-init='arrow = false'>
                    <ng-hamburger-helper arrow-when="arrow"></ng-hamburger-helper>
                </a>
            </button>

            <input type="button" class="webView-back-button" ng-click="appCtrl.webViewBackCommand()">
                
            </input>
            
        </div>-->


        <ui-view>
            <!--this is where the ui-toutes view will be injected		-->
        </ui-view>


    </div>



</body>
</html>