<div class="settings-content animated flipInY">


    <div class="overlay" ng-show="ctrl.submitPopUpvisibility" ng-click="ctrl.ovelayClicked()">
    </div>

    <input type="button" class="btn btn-info addNewBookMarkButton" value="{{ 'addBookMark' | translate }}"
           ng-click="ctrl.submitPopUpShow();" />

    <!--Popup Div Starts Here swipeLeft-->
    <div id="add-url-pop-up" ng-show="ctrl.submitPopUpvisibility" class="submit-popup-style animate pulse">

        <!--<div ng-click="ctrl.submitPopUpHide();" style="width:20%;float:right"
             class="settings-bookmark-list-item-popup-remove">
            <span class="glyphicon glyphicon-remove-circle"></span>

        </div>-->

        <div>
            <label>{{ 'url' | translate}}</label>
            <input type="text" class="form-control" ng-model="ctrl.urlCandidate" />
        </div>


        <div>
            <label>{{ 'image' | translate}}</label>
            <input type="text" class="form-control" ng-model="ctrl.urlImage" placeholder="{{ 'iamgeUrlPlacehoder' | translate}}" />
        </div>

        <input type="button" class="btn btn-info" value="{{ 'submit' | translate }}" ng-click="ctrl.addUrl();" style="float:right" />


    </div>


    <div class="list-group" ng-repeat="item in ctrl.urlCollection">

        <!--animated pulse-->
        <div class="row settings-bookmark-list-item " id="{{$index}}"
             ng-click="ctrl.navigateTo(item.url)">

            <div id="image-container">
                <img src="{{ item.icon}}"
                     style="pointer-events: none;"
                     class="settings-bookmark-list-item-img"
                     imageonload />
            </div>
            <!--col-xsm-1 col-sm-1 col-md-1 col-lg-1 col-xlg-1--> 
            <div id="url-container">
                <span style="pointer-events: none;" class="font-size: 30px; ">{{item.url}}</span>
            </div>
            <!--col-xsm-6 col-sm-6 col-md-6 col-lg-6 col-xlg-6--> 

            <div id="remove-btn">
                <div ng-click="ctrl.Remove(item, $event, $index);"
                     class="settings-bookmark-list-item-remove">
                    <span class="glyphicon glyphicon-remove-circle"></span>

                </div>
            </div>

            <!--col-xsm-3 col-sm-3 col-md-3 col-lg-3 col-xlg-3--> 
        </div>

    </div>




</div>
