body {
}

.right-main-gesture-container {
    opacity: 0.5;
    background-color: black;
    width: 10px;
    height: 100%;
    margin-left: 97%;
    z-index: 999999;
    position: absolute;
}

.left-main-webview-container {
    opacity: 0.001;
    background-color: black;
    width: 30px;
    height: 100%;
    z-index: 999999;
    position: absolute;
}

.webView-back-button {
    height: 50px;
    width: 50px;
    background-image: url('/images/back-arrow.png');
    padding: 2px 8px;
}

.noUrsMessage {
    width: 100%;
    height: 40%;
    margin-top: 20%;
    position: absolute;
    text-align: center;
}

    .noUrsMessage span {
        font-size: 20px;
        margin: auto 0;
    }

.settings-content {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    position: absolute;
}


.mainWebView {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 21;
}

.menu-container {
    position: fixed;
    margin: 20px;
    height: 50px;
    z-index: 999;
}

.settingsUrlItem {
    background-color: darkslategray;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 40px;
}

.submit-url-btn {
    width:100%;
    margin-top:30px;
    margin-bottom:20px;
}

.submit-popup-style {
    border-radius:10px;
    position: absolute;
    float: left;
    margin-left: 10%;
    width: 80%;
    height: auto;
    background: #006699;
    z-index: 9999;
    padding: 20px; 
    box-shadow: 3px 1px 23px #999992;
}

}

    .submit-popup-style input {
        margin: 5px;
    }

.overlay {
    z-index: 0000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6; /* see below for cross-browser opacity */
}

.addNewBookMarkButton {
    width: 100%;
    margin-bottom: 10px;
}

.settings-bookmark-list-item {
    display: table;
    width: 100%;
    height: 50px;
    margin-left:0px;
}

    .settings-bookmark-list-item #remove-btn {
        float: right;
        width: 10%;
        height: 100%;
    }

    .settings-bookmark-list-item #url-container {
        float: left;
        width: 70%;
        height: 100%;
        text-align: center;
        display: table;
    }

        .settings-bookmark-list-item #url-container span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            font-size:15px;
        }

    .settings-bookmark-list-item #image-container {
        float: left;
        display: table;
        width: 10%;
        height: 100%;
        display: table;
    }

    .settings-bookmark-list-item #image-container img {
        display: table-cell;
        vertical-align: middle;
        padding: 5px;
        max-width: 50px;
        max-height: 50px;
    }


/*Round button Style*/
.round-button {
    width: 25%;
}

.round-button-circle {
    padding-bottom: 100%;
    border-radius: 50%;
}

    .round-button-circle:hover {
        background: #30588e;
    }



.settings-bookmark-list-item-remove {
    float: right;
    margin: 4px;
}

    .settings-bookmark-list-item-remove span {
        float: right;
    }

.settings-bookmark-list-item-popup-remove {
    float: right;
    margin: 4px;
}

.settings-bookmark-list-item-remove span {
    font-size: 45px;
}

    .settings-bookmark-list-item-remove span :hover {
        background-color: blue;
    }
